/build/
/build.ninja
/.ninja_deps
/.ninja_log
/objdiff.json
/compile_commands.json
/tools/wineprefix/
/__pycache__/
/orig/**
!/orig/README.md
!/orig/toolchain/
!/orig/toolchain/.gitkeep
.DS_Store
*.pdb
*.ilk
*.exp
*.lib